
p, span {
    color: red;
    width: 300px;
}
/** Esto es un comentario dentro de un documento css*/
h1 {
    font-family: 'Roboto', sans-serif;
    /**padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px;*/
    padding: 30px 15px 25px 20px;
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: blue;
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  * {
    color: blue;
}
#miparrafo{
    color: yellow;
    font-size: 23px;
    border: 1px solid orange;
}

.estaEsMiClase{
    font-weight: bold;
    color: blueviolet;
}

section h1 {
    font-weight: 50px;
}